/* Set default margins */
.editor-styles-wrapper [data-block] {
	margin-top: 0;
	margin-bottom: 20px;
}

/* Set default block width */
.wp-block {
	max-width: 1000px;
}

/* Set wide aligned image width */
.wp-block[data-align="wide"] {
	max-width: 1400px;
}

/* Reset fonts */
.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper p,
.editor-styles-wrapper .editor-block-list__block {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

/* Font color */
#wpwrap .editor-styles-wrapper {
	color: #3e4349;
}

/* Headlines */
#wpwrap .editor-post-title__block .editor-post-title__input,
#wpwrap .editor-styles-wrapper h1,
#wpwrap .editor-styles-wrapper h2,
#wpwrap .editor-styles-wrapper h3,
#wpwrap .editor-styles-wrapper h4,
#wpwrap .editor-styles-wrapper h5,
#wpwrap .editor-styles-wrapper h6 {
	color: #3e4349;
	font-weight: 700;
}

/* Links */
.editor-styles-wrapper a {
	text-decoration: none;
}

/* Blockquotes */
.wp-block-quote, .wp-block-quote.is-style-large {
	margin: 0 20px;
	padding: 0 20px;
	border-left: 5px solid #dedee5;
	font-style: italic;
}

.wp-block-quote.has-text-align-right {
	margin: 0 20px;
	padding: 0 20px;
	border-right: 5px solid #dedee5;
}

/* Blockquote citations */
.wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer,
.wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
	font-style: italic;
	opacity: .75;
	text-transform: none;
	font-size: 14px;
}

.wp-block-quote.is-large .wp-block-quote__citation {
	font-size: 18px;
}

/* Pullquotes */
.wp-block-pullquote {
	border-top-color: #dedee5;
	border-bottom-color: #dedee5;
	border-top-width: 5px;
	border-bottom-width: 5px;
	padding: 20px 0;
}

/* Preformatted & code */
.wp-block-code {
	padding: 0;
	border: none;
	font-size: inherit;
}

.wp-block-code .block-editor-plain-text, .wp-block-preformatted pre {
	font-family: monospace, monospace;
	background: #f5f5f7;
	padding: 20px;
	font-size: inherit;
}

/* Separator */
.wp-block-separator {
	border-bottom: 2px solid #d0d0da;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 280px;
}

.wp-block-separator.is-style-dots:before {
	color: #b4b4c3;
	font-size: 30px;
}

/* Table */
.wp-block-table td,
.wp-block-table th {
	border: 1px solid #dedee5;
}

/* Buttons */
.wp-block-button__link {
	background: #3ba9d2;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
	border-color: #3ba9d2;
	color: #3ba9d2;
}
