/* Icon font */
@font-face {
	font-family: 'page-builder-framework';
	src: url('../../fonts/page-builder-framework.woff2') format('woff2'),
		url('../../fonts/page-builder-framework.woff') format('woff'),
		url('../../fonts/page-builder-framework.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.wpbff {
	font-family: 'page-builder-framework' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wpbff-arrow-up:before {
	content: "\f101";
}
.wpbff-arrow-down:before {
	content: "\f102";
}
.wpbff-arrow-right:before {
	content: "\f103";
}
.wpbff-arrow-left:before {
	content: "\f104";
}
.wpbff-hamburger:before {
	content: "\f105";
}
.wpbff-times:before {
	content: "\f106";
}
.wpbff-clock:before {
	content: "\f107";
}
.wpbff-cart:before {
	content: "\f108";
}
.wpbff-basket:before {
	content: "\f109";
}
.wpbff-caret-up:before {
	content: "\f10a";
}
.wpbff-caret-down:before {
	content: "\f10b";
}
.wpbff-caret-right:before {
	content: "\f10c";
}
.wpbff-caret-left:before {
	content: "\f10d";
}
.wpbff-facebook:before {
	content: "\f10e";
}
.wpbff-twitter:before {
	content: "\f10f";
}
.wpbff-google:before {
	content: "\f110";
}
.wpbff-youtube:before {
	content: "\f111";
}
.wpbff-pinterest:before {
	content: "\f112";
}
.wpbff-linkedin:before {
	content: "\f113";
}
.wpbff-vimeo:before {
	content: "\f114";
}
.wpbff-soundcloud:before {
	content: "\f115";
}
.wpbff-yelp:before {
	content: "\f116";
}
.wpbff-instagram:before {
	content: "\f117";
}
.wpbff-search:before {
	content: "\f118";
}
.wpbff-bag:before {
	content: "\f119";
}
.wpbff-behance:before {
	content: "\f11a";
}
.wpbff-spotify:before {
	content: "\f11b";
}
.wpbff-reddit:before {
	content: "\f11c";
}
.wpbff-info:before {
	content: "\f11d";
}
.wpbff-rss:before {
  content: "\f11e";
}
.wpbff-github:before {
  content: "\f11f";
}
.wpbff-messenger:before {
  content: "\f120";
}
.wpbff-xing:before {
  content: "\f121";
}
.wpbff-whatsapp:before {
  content: "\f122";
}
.wpbff-snapchat:before {
  content: "\f123";
}
.wpbff-email:before {
  content: "\f124";
}
.wpbff-home:before {
  content: "\f125";
}
.wpbff-user:before {
  content: "\f126";
}
.wpbff-tiktok:before {
  content: "\f127";
}
.wpbff-patreon:before {
  content: "\f128";
}
.wpbff-dribbble:before {
  content: "\f129";
}
.wpbff-tumblr:before {
  content: "\f12a";
}
.wpbff-user-o:before {
  content: "\f12b";
}
.wpbff-phone:before {
  content: "\f12c";
}
.wpbff-phone-o:before {
  content: "\f12d";
}
.wpbff-calendar:before {
  content: "\f12e";
}
.wpbff-bag-2:before {
  content: "\f12f";
}
.wpbff-loader:before {
  content: "\f130";
}
.wpbff-document:before {
  content: "\f131";
}
