@import "rtl.scss";
@import "tooltips";

@media screen and (min-width: 1667px) {
	.wp-full-overlay.expanded {
		margin-left: 300px;
	}
}

#customize-footer-actions .devices {
	display: flex;
}

#customize-theme-controls .customize-pane-child.open {
	overflow: visible;
}

.wp-full-overlay-sidebar {
	width: 300px;
}

.expanded .wp-full-overlay-footer {
	max-width: 299px;
}

.wpbf-flex {
	display: flex;
}

.wpbf-content-start {
	justify-content: flex-start;
}

.wpbf-content-center {
	justify-content: center;
}

.wpbf-content-end {
	justify-content: flex-end;
}

.wpbf-justify-start {
	justify-content: flex-start;
}

.wpbf-justify-center {
	justify-content: center;
}

.wpbf-justify-end {
	justify-content: flex-end;
}

.wpbf-w100 {
	width: 100%;
}

.wpbf-w50 {
	width: 50%;
}

.wpbf-w45 {
	width: 45%;
}

.wpbf-w40 {
	width: 40%;
}

.wpbf-w33 {
	width: 33.3333%;
}

.wpbf-w30 {
	width: 30%;
}

.wpbf-w25 {
	width: 25%;
}

.wpbf-w20 {
	width: 20%;
}

.wpbf-w15 {
	width: 15%;
}

.wpbf-w10 {
	width: 10%;
}

.wpbf-w5 {
	width: 5%;
}

.wpbf-control-cols {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wpbf-control-left-col {
	padding-right: 13px;
}

.wpbf-control-right-col {
	text-align: right;
}

.control-section-wpbf-default,
.control-section-wpbf-outer {
	min-height: 100%;
}

.customize-control-has-small-gap {
	margin-bottom: 9px;
}

.customize-control-is-gapless {
	margin-bottom: 0;
}

.hidden-field-control {
	margin-bottom: 0;
	height: 0;
}

// The .accordion-trigger patch is to fix the overflow-x issue in WP 6.7.
.control-section > h3 > .accordion-trigger,
.wpbf-customize-control,
.wpbf-customize-control * {
	box-sizing: border-box;
}

.wpbf-customize-control {
	.customize-control-notifications-container:empty {
		display: none;
	}
}

.wpbf-customize-control.wpbf-group-item {
	clear: none; // Override WordPress.
}

.wpbf-group-item {
	float: left;
	clear: none;
	padding-left: 3px;
	padding-right: 3px;

	&.wpbf-group-start {
		padding-left: 0;
		padding-right: 3px;
	}

	&.wpbf-group-break,
	&.wpbf-group-end {
		padding-left: 3px;
		padding-right: 0;
	}

	&.wpbf-group-end {
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 0;
			clear: both;
		}
	}
}

.wpbf-customize-control {
	position: relative;

	.wpbf-control-label,
	label.customize-control-title {
		display: block;
	}

	.wpbf-control-form {
		position: relative;

		textarea {
			display: block;
			width: 100%;
		}
	}
}

.wpbf-hidden {
	display: none;
}

// Premium notice styles for upsell banners in customizer sections.
.wpbf-premium-notice {
	padding: 15px;
	background-color: #f0f6fc;
	border: 1px solid #c3c4c7;
	border-left: 4px solid #2271b1;
	border-radius: 4px;

	p {
		margin: 0 0 12px;
		color: #1d2327;
		font-size: 13px;
		line-height: 1.5;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.button {
		display: inline-block;
		padding: 6px 12px;
		background-color: #2271b1;
		color: #fff;
		text-decoration: none;
		border-radius: 3px;
		font-size: 13px;
		line-height: 1.5;
		transition: background-color 0.2s;

		&:hover,
		&:focus {
			background-color: #135e96;
			color: #fff;
		}
	}
}
