/* ========================================================================
Component: Icon Font
========================================================================== */

@font-face {
  font-family: 'page-builder-framework';
  src:  url('fonts/page-builder-framework.eot');
  src:  url('fonts/page-builder-framework.eot#iefix') format('embedded-opentype'),
    url('fonts/page-builder-framework.ttf') format('truetype'),
    url('fonts/page-builder-framework.woff') format('woff'),
    url('fonts/page-builder-framework.svg#page-builder-framework') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wpbff {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'page-builder-framework' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpbff-arrow-up:before {
  content: "\f101";
}
.wpbff-arrow-down:before {
  content: "\f102";
}
.wpbff-arrow-right:before {
  content: "\f103";
}
.wpbff-arrow-left:before {
  content: "\f104";
}
.wpbff-hamburger:before {
  content: "\f105";
}
.wpbff-times:before {
  content: "\f106";
}
.wpbff-clock:before {
  content: "\f107";
}
.wpbff-cart:before {
  content: "\f108";
}
.wpbff-basket:before {
  content: "\f109";
}
.wpbff-caret-up:before {
  content: "\f10a";
}
.wpbff-caret-down:before {
  content: "\f10b";
}
.wpbff-caret-right:before {
  content: "\f10c";
}
.wpbff-caret-left:before {
  content: "\f10d";
}
.wpbff-facebook:before {
  content: "\f10e";
}
.wpbff-twitter:before {
  content: "\f10f";
}
.wpbff-google:before {
  content: "\f110";
}
.wpbff-youtube:before {
  content: "\f111";
}
.wpbff-pinterest:before {
  content: "\f112";
}
.wpbff-linkedin:before {
  content: "\f113";
}
.wpbff-vimeo:before {
  content: "\f114";
}
.wpbff-soundcloud:before {
  content: "\f115";
}
.wpbff-yelp:before {
  content: "\f116";
}
.wpbff-instagram:before {
  content: "\f117";
}
.wpbff-search:before {
  content: "\f118";
}
.wpbff-bag:before {
  content: "\f119";
}

/* ========================================================================
Component: Container
========================================================================== */
.#{$prefix}-container {
	max-width:				$breakpoint3;
	padding:				0 $padding;
}

// Clearfix Container
.#{$prefix}-container:before,
.#{$prefix}-container:after {
	content:				"";
	display:				table;
}

.#{$prefix}-container:after {
	clear:					both;
}

// Clearfix
.#{$prefix}-clearfix:before {
	content:				"";
	display:				table-cell;
}

.#{$prefix}-clearfix:after {
	content:				"";
	display:				table;
	clear:					both;
}

/* Alignment of block elements
========================================================================== */
.#{$prefix}-float-left {
	float:					left;
}

.#{$prefix}-float-right {
	float:					right;
}

[class*='#{$prefix}-float-'] {
	max-width:				100%;
}


/* Container Modifier: Center
========================================================================== */
.#{$prefix}-container-center {
	margin-left:			auto;
	margin-right:			auto;
}

/* ========================================================================
Component: Buttons
========================================================================== */
/* Removes inner padding and border in Firefox 4+ */
.#{$prefix}-button::-moz-focus-inner {
	border:					0;
	padding:				0;
}

/* Button
========================================================================== */
.#{$prefix}-button, input[type="submit"] {
/* Correct inability to style clickable `input` types in iOS */
	-webkit-appearance:		none;
	text-align:				center;
	padding:				14px 16px;
	background:				darken($base-color-alt,5%);
	outline:				0;
	border:					none;
	display:				inline-block;
	cursor:					pointer;
	color:					$brand-color-alt;
	@include				transition(all 0.2s);
	line-height: 			1;
	font-weight: 			700;
}

.#{$prefix}-button:hover, input[type="submit"]:hover {
	background:				$base-color;
	color: 					$brand-color-alt;
}

/* Button Modifier: Primary
========================================================================== */
.#{$prefix}-button-primary {
	background:				$accent-color;
	color:					#fff;
}

.#{$prefix}-button-primary:hover {
	background:				$accent-color-alt;
	color: 					#fff;
}

/* Button Modifier: Size
========================================================================== */
.#{$prefix}-button-small {
	padding:				10px 12px;
}

.#{$prefix}-button-large {
	padding:				18px 20px;
}

.#{$prefix}-button-full {
	display:				block;
}


/* ========================================================================
Component: Form
========================================================================== */
input[type="checkbox"],
input[type="radio"] {
	cursor:					pointer;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="datetime"] {
	/* Remove default style in iOS */
	-webkit-appearance:		none;
	width:					100%;
	background: 			#fff;
	border:					1px solid $base-color;
	padding:				13px 15px;
	outline:				none;
	// @include				transition(all 0.2s);
	line-height: 			1;
}

// textarea:focus,
// select:focus,
// input[type="text"]:focus,
// input[type="password"]:focus,
// input[type="email"]:focus,
// input[type="url"]:focus,
// input[type="search"]:focus,
// input[type="tel"]:focus,
// input[type="number"]:focus,
// input[type="datetime"]:focus {
// 	// background:				lighten($base-color-alt,2%);
// 	// background-color:		#fff;
// }

/* Placeholder */
form :-ms-input-placeholder {color: $brand-color; opacity: .5;}
form ::-ms-input-placeholder {color: $brand-color; opacity: .5;}
form ::placeholder {color: $brand-color; opacity: .5;}

form [placeholder]:focus:-ms-input-placeholder {color: $brand-color; opacity: .7;}
form [placeholder]:focus::-ms-input-placeholder {color: $brand-color; opacity: .7;}
form [placeholder]:focus::placeholder {color: $brand-color; opacity: .7;}

/* Select */
select {
	-webkit-appearance:		none;
	-moz-appearance:		none;
	appearance:				none;
}

select:-moz-focusring {
	color: 					transparent;
	text-shadow: 			0 0 0 #000;
}

select::-ms-expand {
	display:				none;
}

select {
	background-image:		url(img/arrow-down.png);
	background-position: 	right 20px center;
	background-repeat: 		no-repeat;
	background-size: 		10px auto;
}

/* ========================================================================
Component: Notices
========================================================================== */

.#{$prefix}-notice {
	background: $base-color-alt;
	border: 2px solid $base-color;
	padding: 5px $padding-small;
	border-radius: 4px;
	margin-bottom: $margin;
}

.#{$prefix}-notice-warning {
	background: rgba($yellow,.15);
	border-color: $yellow;
	color: $yellow;
}

.#{$prefix}-notice-error {
	background: rgba(tomato,.15);
	border-color: tomato;
	color: tomato;
}

.#{$prefix}-notice-success {
	background: rgba($secondary-color,.15);
	border-color: $secondary-color;
	color: $secondary-color;
}

/* ========================================================================
Component: Table
========================================================================== */

table,
.#{$prefix}-table {
	border-collapse:		collapse;
	border-spacing:			0;
	width:					100%;
	border:					1px solid $base-color;
	margin-bottom: 			$margin;
}

table th,
table td,
.#{$prefix}-table th,
.#{$prefix}-table td {
	padding:				8px;
	// let's see how that goes
	border:					1px solid $base-color;
}

// table tr,
// .#{$prefix}-table tr {
// 	border-bottom:			1px solid $base-color;
// }

/* Alignments */
table th,
.#{$prefix}-table th {
	text-align:				left;
	// let's see how that goes
	background:				$base-color-alt;
}

table thead th,
.#{$prefix}-table thead th {
	vertical-align:			bottom;
}

/* Table Modifier: Striped
========================================================================== */
.#{$prefix}-table-striped tr:nth-of-type(odd) {
	background:				$base-color-alt;
}
/* Table Modifier: Small
========================================================================== */
.#{$prefix}-table-small th,
.#{$prefix}-table-small td {
	padding:				4px 8px;
}
/* Table Modifier: Large
========================================================================== */
.#{$prefix}-table-large th,
.#{$prefix}-table-large td {
	padding:				15px;
}
/* Table Modifier: Hover
========================================================================== */
.#{$prefix}-table-hover tbody tr {
	@include				transition(background-color 0.2s);
}

.#{$prefix}-table-hover tbody tr:hover {
	background:				$base-color-alt;
}

/* ========================================================================
Component: Grid
========================================================================== */

/* Basic Gutter
========================================================================== */
.#{$prefix}-grid {
	margin-left:			(-$grid);
	display: 				flex;
	flex-wrap:				wrap;
}
.#{$prefix}-grid > * {
	width:					100%;
	padding-left:			$grid;
}

/* Nested */
.#{$prefix}-grid > .#{$prefix}-grid {
	margin-left:			0;
	padding-left:			0;
}

/* Vertical */
.#{$prefix}-grid + .#{$prefix}-grid,
{
	margin-top:				$grid;
}

/* Grid Modifier: xLarge Gutter
========================================================================== */
.#{$prefix}-grid-xlarge {
	margin-left:			(-$grid-xlarge);
}
.#{$prefix}-grid-xlarge > * {
	padding-left:			$grid-xlarge;
}

/* Vertical */
.#{$prefix}-grid-xlarge + .#{$prefix}-grid-xlarge,
// .#{$prefix}-grid-xlarge > * 
{
	margin-top:				$grid-xlarge;
}

/* Grid Modifier: Large Gutter (same as Basic)
========================================================================== */
.#{$prefix}-grid-large {
	margin-left:			(-$grid-large);
}
.#{$prefix}-grid-large > * {
	padding-left:			$grid-large;
}

/* Vertical */
.#{$prefix}-grid-large + .#{$prefix}-grid-large,
// .#{$prefix}-grid-large > * 
{
	margin-top:				$grid-large;
}

/* Grid Modifier: Medium Gutter
========================================================================== */
.#{$prefix}-grid-medium {
	margin-left:			(-$grid-medium);
}
.#{$prefix}-grid-medium > * {
	padding-left:			$grid-medium;
}

/* Vertical */
.#{$prefix}-grid-medium + .#{$prefix}-grid-medium,
// .#{$prefix}-grid-medium > * 
{
	margin-top:				$grid-medium;
}


/* Grid Modifier: Small Gutter
========================================================================== */
.#{$prefix}-grid-small {
	margin-left:			(-$grid-small);
}
.#{$prefix}-grid-small > * {
	padding-left:			$grid-small;
}

/* Vertical */
.#{$prefix}-grid-small + .#{$prefix}-grid-small,
// .#{$prefix}-grid-small > * 
{
	margin-top:				$grid-small;
}

/* Grid Modifier: Collapse Gutter
========================================================================== */
.#{$prefix}-grid-collapse {
	margin-left:			0;
}
.#{$prefix}-grid-collapse > * {
	padding-left:			0;
}

/* Vertical */
.#{$prefix}-grid-collapse + .#{$prefix}-grid-collapse,
.#{$prefix}-grid-collapse > * {
	margin-top:				0;
}

/* Grid Modifier: Divider Gutter
========================================================================== */

.#{$prefix}-grid-divider:not(:empty) {
	margin-left:			-$divider;
	margin-right:			-$divider;
}


.#{$prefix}-grid-divider > * {
	padding-left:			$divider;
	padding-right:			$divider;
}

.#{$prefix}-grid-divider > [class*='#{$prefix}-1-']:not(.#{$prefix}-1-1):nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-2-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-3-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-4-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-5-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-6-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-7-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-8-']:nth-child(n+2),
.#{$prefix}-grid-divider > [class*='#{$prefix}-9-']:nth-child(n+2) {
	border-left:			1px solid $base-color;
}

/* Grid cells
========================================================================== */
.#{$prefix}-grid > * {
	float:					left;
}

/* Grid
========================================================================== */
.#{$prefix}-grid-1-1 > * {
	width: 100%;
}
.#{$prefix}-grid-1-2 > * {
	width: 50%;
}
.#{$prefix}-grid-1-3 > * {
	width: 33.333%;
}
.#{$prefix}-grid-1-4 > * {
	width: 25% !important;
}
.#{$prefix}-grid-1-5 > * {
	width: 20%;
}
.#{$prefix}-grid-1-6 > * {
	width: 16.666%;
}
.#{$prefix}-grid-1-10 > * {
	width: 10%;
}

/* Grid Cells
========================================================================== */
/* Whole */
.#{$prefix}-1-1 {
	width: 100%;
}
/* Halves */
.#{$prefix}-1-2,
.#{$prefix}-2-4,
.#{$prefix}-3-6,
.#{$prefix}-5-10 {
	width: 50%;
}
/* Thirds */
.#{$prefix}-1-3,
.#{$prefix}-2-6 {
	width: 33.333%;
}
.#{$prefix}-2-3,
.#{$prefix}-4-6 {
	width: 66.666%;
}
/* Quarters */
.#{$prefix}-1-4 {
	width: 25%;
}
.#{$prefix}-3-4 {
	width: 75%;
}
/* Fifths */
.#{$prefix}-1-5,
.#{$prefix}-2-10 {
	width: 20%;
}
.#{$prefix}-2-5,
.#{$prefix}-4-10 {
	width: 40%;
}
.#{$prefix}-3-5,
.#{$prefix}-6-10 {
	width: 60%;
}
.#{$prefix}-4-5,
.#{$prefix}-8-10 {
	width: 80%;
}
/* Sixths */
.#{$prefix}-1-6 {
	width: 16.666%;
}
.#{$prefix}-5-6 {
	width: 83.333%;
}
/* Tenths */
.#{$prefix}-1-10 {
	width: 10%;
}
.#{$prefix}-3-10 {
	width: 30%;
}
.#{$prefix}-7-10 {
	width: 70%;
}
.#{$prefix}-9-10 {
	width: 90%;
}

/* Grid Clearfix
========================================================================== */
.#{$prefix}-grid:before,
.#{$prefix}-grid:after {
	content: "";
	display: block;
	overflow: hidden;
}
.#{$prefix}-grid:after {
	clear: both;
}

/* ========================================================================
Component: Text
========================================================================== */

/* Text modifier: alignment
========================================================================== */
.#{$prefix}-text-left {
	text-align:				left;
}
.#{$prefix}-text-right {
	text-align:				right;
}
.#{$prefix}-text-center {
	text-align:				center;
}
.#{$prefix}-text-justify {
	text-align:				justify;
}

/* Text modifier: uppercase
========================================================================== */
.#{$prefix}-uppercase {
	text-transform: 		uppercase;
}

.#{$prefix}-inline-block {
	display: 				inline-block;
}

/* ========================================================================
Component: Utility
========================================================================== */

/* Remove Font Size (from Logo)
========================================================================== */
.#{$prefix}-reset-line-height {
	line-height: 			0;
}

/* Image
========================================================================== */
.#{$prefix}-image,
.#{$prefix}-img {
	width: 					100%;
	height: 				auto;
}

/* Visible/Hidden
========================================================================== */
.#{$prefix}-hidden {
	display: none;
}

/* Margins
========================================================================== */
/* xLarge Margins */
.#{$prefix}-margin-xlarge {
	margin-top: $margin-xlarge;
	margin-bottom: $margin-xlarge;
}
.#{$prefix}-margin-xlarge-top {
	margin-top: $margin-xlarge;
}
.#{$prefix}-margin-xlarge-bottom {
	margin-bottom: $margin-xlarge;
}
.#{$prefix}-margin-xlarge-left {
	margin-left: $margin-xlarge;
}
.#{$prefix}-margin-xlarge-right {
	margin-right: $margin-xlarge;
}

/* Large Margins */
.#{$prefix}-margin-large {
	margin-top: $margin-large;
	margin-bottom: $margin-large;
}
.#{$prefix}-margin-large-top {
	margin-top: $margin-large;
}
.#{$prefix}-margin-large-bottom {
	margin-bottom: $margin-large;
}
.#{$prefix}-margin-large-left {
	margin-left: $margin-large;
}
.#{$prefix}-margin-large-right {
	margin-right: $margin-large;
}

/* Medium Margins */
.#{$prefix}-margin-medium {
	margin-top: $margin-medium;
	margin-bottom: $margin-medium;
}
.#{$prefix}-margin-medium-top {
	margin-top: $margin-medium;
}
.#{$prefix}-margin-medium-bottom {
	margin-bottom: $margin-medium;
}
.#{$prefix}-margin-medium-left {
	margin-left: $margin-medium;
}
.#{$prefix}-margin-medium-right {
	margin-right: $margin-medium;
}

/* Regular Margins */
.#{$prefix}-margin {
	margin-top: $margin;
	margin-bottom: $margin;
}
.#{$prefix}-margin-top {
	margin-top: $margin;
}
.#{$prefix}-margin-bottom {
	margin-bottom: $margin;
}
.#{$prefix}-margin-left {
	margin-left: $margin;
}
.#{$prefix}-margin-right {
	margin-right: $margin;
}

/* Small Margins */
.#{$prefix}-margin-small {
	margin-top: $margin-small;
	margin-bottom: $margin-small;
}
.#{$prefix}-margin-small-top {
	margin-top: $margin-small;
}
.#{$prefix}-margin-small-bottom {
	margin-bottom: $margin-small;
}
.#{$prefix}-margin-small-left {
	margin-left: $margin-small;
}
.#{$prefix}-margin-small-right {
	margin-right: $margin-small;
}

/* Remove Margins */
.#{$prefix}-margin-none, .#{$prefix}-remove-margin {
	margin: 0 !important;
}
.#{$prefix}-margin-top-none {
	margin-top: 0 !important;
}
.#{$prefix}-margin-bottom-none {
	margin-bottom: 0 !important;
}

/* Paddings
========================================================================== */
/* xLarge paddings */
.#{$prefix}-padding-xlarge {
	padding-top: $padding-xlarge;
	padding-bottom: $padding-xlarge;
}
.#{$prefix}-padding-xlarge-top {
	padding-top: $padding-xlarge;
}
.#{$prefix}-padding-xlarge-bottom {
	padding-bottom: $padding-xlarge;
}
.#{$prefix}-padding-xlarge-left {
	padding-left: $padding-xlarge;
}
.#{$prefix}-padding-xlarge-right {
	padding-right: $padding-xlarge;
}

/* Large paddings */
.#{$prefix}-padding-large {
	padding-top: $padding-large;
	padding-bottom: $padding-large;
}
.#{$prefix}-padding-large-top {
	padding-top: $padding-large;
}
.#{$prefix}-padding-large-bottom {
	padding-bottom: $padding-large;
}
.#{$prefix}-padding-large-left {
	padding-left: $padding-large;
}
.#{$prefix}-padding-large-right {
	padding-right: $padding-large;
}


/* Medium paddings */
.#{$prefix}-padding-medium {
	padding-top: $padding-medium;
	padding-bottom: $padding-medium;
}
.#{$prefix}-padding-medium-top {
	padding-top: $padding-medium;
}
.#{$prefix}-padding-medium-bottom {
	padding-bottom: $padding-medium;
}
.#{$prefix}-padding-medium-left {
	padding-left: $padding-medium;
}
.#{$prefix}-padding-medium-right {
	padding-right: $padding-medium;
}

/* Regular paddings */
.#{$prefix}-padding {
	padding-top: $padding;
	padding-bottom: $padding;
}
.#{$prefix}-padding-top {
	padding-top: $padding;
}
.#{$prefix}-padding-bottom {
	padding-bottom: $padding;
}
.#{$prefix}-padding-left {
	padding-left: $padding;
}
.#{$prefix}-padding-right {
	padding-right: $padding;
}

/* Small paddings */
.#{$prefix}-padding-small {
	padding-top: $padding-small;
	padding-bottom: $padding-small;
}
.#{$prefix}-padding-small-top {
	padding-top: $padding-small;
}
.#{$prefix}-padding-small-bottom {
	padding-bottom: $padding-small;
}
.#{$prefix}-padding-small-left {
	padding-left: $padding-small;
}
.#{$prefix}-padding-small-right {
	padding-right: $padding-small;
}

/* Remove paddings */
.#{$prefix}-padding-none, .#{$prefix}-remove-padding {
	padding: 0 !important;
}
.#{$prefix}-padding-top-none {
	padding-top: 0 !important;
}
.#{$prefix}-padding-bottom-none {
	padding-bottom: 0 !important;
}