// Config
@import "../../scss/config/config";

/* General */

// Buttons.
.llms-button-action,
.llms-button-danger,
.llms-button-primary,
.llms-button-secondary,
.llms-button-action.large,
.llms-button-danger.large,
.llms-button-primary.large,
.llms-button-secondary.large {
	padding: 15px 20px;
	font-weight: 700;
	display: inline-block;
	font-size: $base-fontsize; // LifterLMS sets default button size to 16. We make the large button match the regular buttons with this. Problem: adjusting the font size won't adjust the button size.
	line-height: 1;
}

.llms-button-secondary,
.llms-button-secondary:hover {
	background: $base-color;
	color: $brand-color-alt;
}

// Notices.
.entry-content .llms-notice {
	margin-bottom: 20px;
	background: #fff;
}

/* Course */

// Author.
.llms-instructor-info .llms-instructors .llms-author .llms-author-info.name {
	color: $brand-color;
	font-size: $bigger-fontsize;
}

// Pricing tables.
.llms-access-plan-title,
.llms-access-plan-description {
	padding: 25px 20px;
}

.llms-access-plan-content .llms-access-plan-pricing {
	padding-top: 20px;
}

.llms-access-plan-price {
	color: $brand-color;
	font-size: 24px;
}

.llms-access-plan-footer {
	border-bottom-color: $base-color;
	border-bottom-width: 4px;
	padding: 20px;
}

.llms-instructor-info .llms-instructors .llms-author,
.llms-access-plan .llms-access-plan-footer,
.llms-access-plan .llms-access-plan-content {
	background: $base-color-alt;
}

// Lessons.
.llms-syllabus-wrapper {
	text-align: left;
	margin: 0;
}

.llms-lesson-preview {
	width: 100%;
	margin: 0;
	display: block;
}

.llms-lesson-preview.is-complete {
	h5 {
		text-decoration: line-through;
		opacity: .6;
	}
}

.llms-syllabus-wrapper .llms-section-title {
	background: $base-color-alt;
	padding: 20px;
	margin: 0;
	margin-top: 40px;
	border: 1px solid $base-color;
}

.llms-lesson-preview .llms-lesson-link {
	background: none;
	border: 1px solid $base-color;
	border-top: 0;
	padding: 20px;
	@include transition(all 0.3s);
	h5, aside {
		font-size: $base-fontsize;
	}
}

.llms-lesson-preview .llms-lesson-counter,
.llms-lesson-preview .llms-free-lesson-svg,
.llms-lesson-preview .llms-lesson-complete,
.llms-lesson-preview .llms-lesson-complete-placeholder {
	margin-bottom: 0;
}

.llms-lesson-preview .llms-lesson-link:hover {
	background: $base-color-alt;
}

.llms-lesson-link-locked, .llms-lesson-link-locked:hover {
	box-shadow: none;
	min-height: 0;
}

// Lesson navigation.
.llms-course-navigation {
	margin-top: 20px;
}

.llms-course-navigation .llms-lesson-link {
	border: none;
	background: $base-color-alt;
	h6 {
		color: $brand-color-alt;
		font-size: $small-fontsize;
	}
}

.llms-course-navigation .llms-lesson-link:hover {
	background: $base-color;
}

/* Course & Membership Catalog */

.llms-loop-item-content {
	background: $base-color-alt;
	padding-bottom: 20px;
	&:hover {
		background: $base-color-alt;
	}
}

.llms-loop-item-content .llms-meta,
.llms-loop-item-content .llms-author,
.llms-loop-item-content .llms-loop-title {
	padding: 0 20px;
}

.llms-loop-item-content .llms-loop-title {
	margin-top: 20px;
	@include transition(all 0.2s);
	&:hover {
		color: $accent-color;
	}
}

/* Checkout */

.llms-checkout-section,
.llms-checkout-wrapper form.llms-login {
	// border: none;
	border-color: $base-color;
	background: $base-color-alt;
	margin-bottom: 20px;
}

.llms-checkout-section-content,
.llms-checkout-wrapper form.llms-login .llms-form-fields {
	padding: 20px;
	background: #fff;
}

.llms-checkout-wrapper .llms-form-heading {
	padding: 20px;
	background: $base-color-alt;
	color: $brand-color;
}


/* Sidebar */

// Progress bar.
.wpbf-sidebar .llms-progress .llms-progress-bar {
	background: #fff;
}

.progress__indicator {
	margin-left: 20px;
	font-weight: 700;
	font-size: 16px;
	color: $brand-color;
}

// Syllabus.
.llms-widget-syllabus ul li ul li {
	margin-left: 20px;
}

.llms-widget-syllabus .llms-section {
	margin-bottom: 10px;
}

.llms-widget-syllabus .llms-section .section-header {
	margin-bottom: 10px;
	color: $brand-color;
}

.llms-widget-syllabus .llms-lesson-complete, .llms-widget-syllabus .lesson-complete-placeholder {
	color: $base-color;
	margin-right: 5px;
}

.llms-widget-syllabus .lesson-title a {
	color: $brand-color;
	&:hover {
		color: $accent-color;
	}
}

/* Quiz */

.llms-quiz-ui {
	background: none;
	padding: 0;
}

.llms-quiz-ui .llms-progress {
	background: $base-color-alt;
}

.single-llms_quiz ul.llms-quiz-meta-info {
	background: $base-color-alt;
	color: $brand-color;
	margin-bottom: 20px;
	padding: 20px;
}

.llms-question-wrapper ol.llms-question-choices li.llms-choice {
	border-bottom-color: $base-color;
}

.llms-question-wrapper ol.llms-question-choices li.llms-choice label {
	padding: 10px 0;
	display: block;
	cursor: pointer;
}

.llms-question-wrapper ol.llms-question-choices li.llms-choice.type--picture input:checked ~ .llms-choice-image {
	background: $base-color-alt;
}

.llms-quiz-ui .llms-quiz-counter {
	color: $brand-color;
}

// Results.
.single-llms_quiz .llms-quiz-results .llms-quiz-results-main,
.single-llms_quiz .llms-quiz-results .llms-quiz-results-history {
	width: calc( 100% - 240px );
	margin-left: 20px;
}

.llms-donut {
	background-color: $base-color-alt;
	margin-bottom: 20px;
}
