/* Colors */

// Defaults
$white: #ffffff;
$base-color: #dedee5;
$base-color-alt: #f5f5f7;

$brand-color: #3e4349;
$brand-color-alt: #6d7680;

$accent-color: #3ba9d2;
$accent-color-alt: #79c4e0;

$green: #4fe190;
$red: tomato;

// Abstractions
$primarytext: $white;			// Text on primary colour bg
$highlight: $green;				// Prices, In stock labels, sales flash
$highlightext: $white;			// Text on highlight colour bg
$contentbg: $white;				// Content BG - Tabs (active state)

// Variables
$base-color: var(--base-color);
$base-color-alt: var(--base-color-alt);

$brand-color: var(--brand-color);
$brand-color-alt: var(--brand-color-alt);

$accent-color: var(--accent-color);
$accent-color-alt: var(--accent-color-alt);

/* Spacing */

// Margin
$margin: 20px;
$margin-small: 10px;
$margin-medium: 40px;

// Padding
$padding: 20px;
$padding-small: 10px;
$padding-medium: 40px;

/* Fonts */

// Font size
$base-fontsize: 16px;
$small-fontsize: 14px;
$bigger-fontsize: 20px;
$big-fontsize: 32px;
