# ignore build tools
node_modules/
package.json
package-lock.json
gulpfile.js
**/build/*.map

# ignore old files
*.backup.*

# Sass Cache
.sass-cache/

# DS_Store
.DS_Store

# phpcs & editor's setting related
.vscode/
.editorconfig
phpcs.xml

# developer specific
david-gulpfile.js
david-package.json
bagus-gulpfile.js
bagus-package.json
manifest.json
