.rtl {
	/* Theme settings */
	.heatbox-main {
		margin-right: 0;
		margin-left: 2%;
	}

	.wpbf-documentation-boxes .heatbox {
		margin-right: 0;
	}

	.wpbf-documentation-boxes .heatbox:nth-child(even) {
		margin-right: 2%;
	}

	.wpbf-recommended-list li {
		margin-right: 0;
	}

	.wpbf-recommended-list li:nth-child(even) {
		margin-right: 2%;
	}

	.wpbf-customizer-list li:nth-child(odd) {
		border-right-width: 0;
		border-left: 1px solid #ddd;;
	}

	.heatbox .label .indicator {
		left: auto;
		right: -30px;
	}

	/* Customizer */
	.customize-control-kirki-slider .wrapper input[type=text] {
		text-align: left;
	}

	.customize-control-kirki-slider .wrapper .slider-reset {
		right: auto;
		left: 0;
	}

	.customize-control-kirki-color {
		.iris-border .iris-palette-container {
			left: auto;
			right: 10px;
		}

		.wp-color-result .color-alpha {
			left: auto !important;
			right: 0;
		}
	}

	.wpbf-input-slider-control input[type=text] {
		margin-left: 0;
		margin-right: 15px;
		text-align: left;
	}
}