// Config
@import "../../../../assets/scss/config/config";
@import "../../../../assets/scss/main/blocks";

.block-editor-block-styles {
	.block-editor-block-preview__content {
		.wpbf-notice {
			display: inline-block;

			&.is-style-wpbf-full-width {
				display: block;
			}
		}
	}
}

/* Notices */
.wpbf-notice {
	background: $base-color-alt;
	border: 2px solid $base-color;
	padding: 5px $padding-small;
	border-radius: 4px;
	margin-bottom: $margin;
	font-weight: 700;
}

// Notice modifier (warning)
.wpbf-notice-warning {
	background: rgba($yellow,.1);
	border-color: $yellow;
	color: $yellow;
}

// Notice modifier (error)
.wpbf-notice-error {
	background: rgba($red,.1);
	border-color: $red;
	color: $red;
}

// Notice modifier (success)
.wpbf-notice-success {
	background: rgba($green,.1);
	border-color: $green;
	color: $green;
}

// Notice modifier (primary)
.wpbf-notice-primary {
	background: rgba($blue,.1);
	border-color: $blue;
	color: $blue;
}