/* Image Select */
.customize-control-kirki-radio-image input:hover + label img {
	opacity: .7 !important;
}

.customize-control-kirki-radio-image input:checked + label img {
	box-shadow: none !important;
	opacity: 1 !important;
	border: 1px solid #aaa !important;
}

/* Premium Notice */
#sub-accordion-section-wpbf_premium_addon .customize-section-title {
	border-color: #3ba9d2;
	border-top: 1px solid #3ba9d2;
}

#sub-accordion-section-wpbf_premium_addon .customize-section-title h3 {
	color: #3ba9d2;
}