.wpbf-is-hidden {
  display: none;
}

.wpbf-layout-custom-width-field-wrapper {
  margin-top: 5px;

  label {
    display: block;
    color: #888;
  }
}

#layout-custom-width-value {
  display: block;
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
  height: 30px;
}

// Hide "Inherit Global Settings" from Sidebar metabox on pages.
.post-type-page #wpbf_sidebar #sidebar-global,
.post-type-page #wpbf_sidebar #sidebar-global + label {
  display: none;
}
