/**
 * --------------------
 * Admin Page
 * --------------------
 */
.wpbf-admin-page,
.wpbf-admin-page * {
	box-sizing: border-box;
}

.wpbf-admin-page {
	display: flex;
	max-width: 1300px;
}

.wpbf-admin-page > .left-section {
	width: 65%;
}

.wpbf-admin-page > .right-section {
	padding-left: 40px;
	width: 35%;
}

.wpbf-admin-page .neatbox-content > p,
.wpbf-admin-page .list-item > p,
.wpbf-admin-page .list-content > p {
	font-size: 14px;
}

/**
 * --------------------
 * Customizer Link List
 * --------------------
 */
.wpbf-admin-page .customizer-list .list-item {
	padding-top: 0;
	padding-bottom: 0;
}

.wpbf-admin-page .customizer-items {
	display: flex;
	align-items: center;
	width: 100%;
}

.wpbf-admin-page .customizer-items .customizer-item:first-child {
	border-right: 1px solid #eee;
}

.wpbf-admin-page .customizer-items .customizer-item:last-child {
	padding-left: 15px;
}

.wpbf-admin-page .customizer-item {
	width: 50%;
	padding-top: 12px;
	padding-bottom: 12px;
}

/**
 * --------------------
 * Premium Add-On List
 * --------------------
 */
.wpbf-admin-page .premium-list .list-item:last-child {
	background: #f1f1f1;
}

.wpbf-admin-page .premium-list .list-content {
	width: 60%;
}

.wpbf-admin-page .premium-list .list-action {
	width: 40%;
}

.wpbf-admin-page .premium-list i {
	color: #47D87C;
	text-align: right;
	margin-right: 20px;
}

/**
 * --------------------
 * Recommended Plugins
 * --------------------
 */
.wpbf-admin-page .recommended-list .dashicons {
	color: #47D87C;
}