/**
 * --------------------
 * Admin Page
 * --------------------
 */
.wpbf-admin-page {
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
}

.wpbf-admin-page > .left-section {
	width: 65%;
}

.wpbf-admin-page > .right-section {
	padding-left: 40px;
	width: 35%;
}

.wpbf-admin-page .neatbox-content > p,
.wpbf-admin-page .list-item > p,
.wpbf-admin-page .list-content > p {
	font-size: 14px;
}

/**
 * --------------------
 * Customizer Link List
 * --------------------
 */
.wpbf-admin-page .customizer-list .list-item {
	flex-wrap: wrap;
	padding-top: 0;
	padding-bottom: 0;
}

.wpbf-admin-page .customizer-items {
	display: flex;
	align-items: center;
	width: 100%;
}

.wpbf-admin-page .customizer-items .customizer-item:first-child {
	border-right: 1px solid #eee;
}

.wpbf-admin-page .customizer-items .customizer-item:last-child {
	padding-left: 15px;
}

.wpbf-admin-page .customizer-item {
	width: 50%;
	padding-top: 18px;
	padding-bottom: 18px;
}

/**
 * --------------------
 * Premium Add-On List
 * --------------------
 */
.wpbf-admin-page .premium-list .list-item:last-child {
	background: #f1f1f1;
}

.wpbf-admin-page .premium-list .list-content {
	width: 60%;
}

.wpbf-admin-page .premium-list .list-action {
	width: 40%;
}

.wpbf-admin-page .premium-list i {
	color: #47d87c;
	text-align: right;
	margin-right: 20px;
}

/**
 * --------------------
 * Recommended Plugins
 * --------------------
 */
.wpbf-admin-page .recommended-list .dashicons {
	color: #47d87c;
}

/**
 * --------------------
 * Additional Resources
 * --------------------
 */
.wpbf-admin-page .additional-list .dashicons {
	margin-right: 5px;
}



@media screen and (max-width: 991.32px) {
	.wpbf-admin-page > .left-section {
		width: 100%;
	}

	.wpbf-admin-page > .right-section {
		padding-left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 575.32px) {
	.wpbf-admin-page .customizer-list .list-item:last-child .customizer-item {
		width: 100%;
	}

	.wpbf-admin-page .customizer-list .list-item:last-child {
		padding-bottom: 10px;
	}

	.wpbf-admin-page .customizer-list .list-item:last-child p {
		margin-bottom: 0;
	}
}