/**
 * --------------------
 * Admin Notice
 * --------------------
 */
.nice-notice {
	padding: 25px 20px;
}

.nice-notice .is-medium {
	width: 70%;
}

.nice-notice .is-half {
	width: 50%;
}

.nice-notice .notice-body {
	display: flex;
}

.nice-notice .has-icon .notice-icon {
	padding-right: 25px;
}

.nice-notice .notice-icon img {
	max-width: 55px;
}

.nice-notice .notice-content {
	width: 100%;
}

.nice-notice .notice-content > h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
}

.nice-notice .notice-content > p:last-child {
	margin-bottom: 0;
}

.nice-notice .notice-content > p {
	margin-top: 0;
	margin-bottom: 10px;
}
