.woocommerce div.product form.cart div.quantity {
	/* Override WooCommerce style */
	margin-right: 20px;
}

.woocommerce .quantity {
	display: flex;
}

.woocommerce .quantity .qty {
	/* The input height was not equal with the button's height */
	padding: 12px 0;
	
	margin-right: 0;
	text-align: center;
}

/* Remove the input +/- control */
.woocommerce .quantity .qty {
	-moz-appearance:textfield;
}

.woocommerce .quantity .qty::-webkit-inner-spin-button, 
.woocommerce .quantity .qty::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.woocommerce .quantity .wpbf-qty-decrease:hover,
.woocommerce .quantity .wpbf-qty-increase:hover {
	background-color: #f2f4f7;
}

.woocommerce .quantity .wpbf-qty-decrease,
.woocommerce .quantity .wpbf-qty-increase {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border: 1px solid #dedee5;
	cursor: pointer;
}

.woocommerce .quantity .wpbf-qty-decrease {
	border-right-width: 0;
	border-radius: 3px 0 0 3px;
}

.woocommerce .quantity .wpbf-qty-increase {
	border-left-width: 0;
	border-radius: 0 3px 3px 0;
}

.woocommerce .quantity .wpbf-qty-decrease::before,
.woocommerce .quantity .wpbf-qty-increase::before,
.woocommerce .quantity .wpbf-qty-increase::after {
	position: absolute;
	content: '';
	background-color: #3e4349;
}

.woocommerce .quantity .wpbf-qty-decrease::before {
	width: 10px;
	height: 2px;
}

.woocommerce .quantity .wpbf-qty-increase::before {
	width: 10px;
	height: 2px;
}

.woocommerce .quantity .wpbf-qty-increase::after {
	width: 2px;
	height: 10px;
}