
























/*! 
 * This file contains the same styling for both PBF & Premium Add-On
 * Please keep in sync!
 */

/**
 * --------------------
 * Admin Page
 * --------------------
 */
.wpbf-admin-page {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
}

.wpbf-admin-page > .left-section {
	width: 65%;
}

.wpbf-admin-page > .right-section {
	padding-left: 40px;
	width: 35%;
}

.wpbf-admin-page .neatbox:last-child,
.wpbf-admin-page > .left-section .neatbox:last-child,
.wpbf-admin-page > .right-section .neatbox:last-child {
	margin-bottom: 0;
}

.wpbf-admin-page .neatbox-content > p,
.wpbf-admin-page .list-item > p,
.wpbf-admin-page .list-content > p {
	font-size: 14px;
}

/**
 * --------------------
 * Customizer Link List
 * --------------------
 */
.wpbf-admin-page .customizer-list {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
}

.wpbf-admin-page .customizer-list .list-item:nth-child(even) {
	padding-left: 15px;
	border-right-width: 0;
}

.wpbf-admin-page .customizer-list .list-item {
	padding-top: 18px;
	padding-bottom: 18px;
	width: 50%;
	border-right: 1px solid #eee;
}

.wpbf-admin-page .customizer-list .list-item:last-child {
	width: 100%;
}

/**
 * --------------------
 * Premium Add-On List
 * --------------------
 */
.wpbf-admin-page .premium-list .list-item:last-child {
	background: #f1f1f1;
}

.wpbf-admin-page .premium-list .list-content {
	width: 60%;
}

.wpbf-admin-page .premium-list .list-action {
	width: 40%;
}

.wpbf-admin-page .premium-list i {
	color: #47d87c;
	text-align: right;
	margin-right: 20px;
}

/**
 * --------------------
 * Setting Fields
 * --------------------
 */
/* Checkbox label */
.wpbf-admin-page .label input:checked ~ .indicator {
	background-color: #007cba;
}

.wpbf-admin-page .label:hover input:not([disabled]):checked ~ .indicator,
.wpbf-admin-page .label input:checked:focus ~ .indicator {
	background-color: #00669b;
}

.wpbf-show-advanced {
	display: inline-block;
	margin-top: 10px;
	box-shadow: none;
}

.wpbf-show-advanced.button {
	display: block;
	margin-top: 15px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

/**
 * --------------------
 * Recommended Plugins
 * --------------------
 */
.wpbf-admin-page .recommended-list .dashicons {
	color: #47d87c;
}

/**
 * --------------------
 * Additional Resources
 * --------------------
 */
.wpbf-admin-page .additional-list .dashicons {
	margin-right: 5px;
}

/**
 * --------------------
 * Responsiveness
 * --------------------
 */
@media screen and (max-width: 991.32px) {
	.wpbf-admin-page > .left-section {
		width: 100%;
	}

	.wpbf-admin-page > .right-section {
		padding-left: 0;
		width: 100%;
	}
}

/*! 
 * This file contains the same styling for both PBF & Premium Add-On
 * Please keep in sync!
 */









































































/* Adjust WordPress default styles */
.settingstuff .form-table .small-text {
	min-width: 60px;
}

/* Settings Page */
.settingstuff,
.settingstuff * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.settingstuff h1 .version {
	font-size: 60%;
	opacity: 0.6;
	font-weight: 600;
	background: #ccc;
	border-radius: 5px;
	padding: 5px 12px;
	line-height: 1;
}

.settingstuff .neatbox.has-subboxes {
	margin-top: 0;
	background-color: transparent;
	border: 0;
}

.settingstuff .neatbox.has-medium-gap {
	margin-top: 25px;
	margin-bottom: 25px;
}

.settingstuff .neatbox.has-thin-shadow {
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
}

.settingstuff .neatbox.has-shadow {
	-webkit-box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.3);
	box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.3);
}

.settingstuff .neatbox.is-rounded {
	border-radius: 3px;
}

.settingstuff .neatbox.is-rounded h2,
.settingstuff .neatbox.is-smooth h2 {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.settingstuff .neatbox.no-border {
	border-width: 0;
}

.settingstuff .neatbox.has-subboxes.is-smooth {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
 * .is-smooth means:
 * .has-shadow + is-rounded + .no-border
 */
.settingstuff .neatbox.is-smooth {
	border-width: 0;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.3);
	box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.3);
}

.settingstuff .neatbox {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.settingstuff .neatbox.is-clean {
	border-width: 0;
	background-color: transparent;
}

.settingstuff .neatbox.has-subboxes.is-smooth table {
	border-width: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.3);
	box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.3);
}

.settingstuff .block-label {
	display: block;
	margin-bottom: 10px;
	font-weight: 700;
}

.settingstuff .neatbox .label {
	display: block;
}

.settingstuff .neatbox .is-full {
	width: 100%;
}

.settingstuff .neatbox .is-medium {
	width: 75%;
}

.settingstuff .neatbox.has-subboxes.is-grouped table:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.settingstuff .neatbox.has-subboxes.is-grouped table {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.settingstuff .neatbox.has-subboxes.is-grouped h2:first-child {
	margin-top: 20px;
	border-top-width: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.settingstuff .neatbox.has-subboxes.is-grouped h2 {
	margin-top: 0;
	border-top: 1px solid #eee;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.settingstuff .neatbox.has-subboxes h2 {
	margin-top: 20px;
}

.settingstuff .neatbox h2 {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	line-height: 1em;
	font-size: 14px;
	font-weight: 600;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.settingstuff .neatbox h2 .help-icon {
	height: auto;
	line-height: inherit;
}

.settingstuff .neatbox.is-clean h2 {
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
}

.settingstuff .has-bigger-heading h2 {
	font-size: 15px;
}

.settingstuff .neatbox-content.has-bottom-gapless {
	padding-bottom: 0;
}

.settingstuff .neatbox-content {
	position: relative;
	padding: 18px 15px;
}

.settingstuff .neatbox-content > p {
	margin-top: 0;
	margin-bottom: 20px;
}

/* Reset WordPress default */
.settingstuff .neatbox-content > p.description {
	font-style: normal;
}

.settingstuff .neatbox-content > .description {
	color: #8f8f8f;
}

.settingstuff .neatbox-list {
	margin: 0;
}

.settingstuff .neatbox-list a {
	text-decoration: none;
}

.settingstuff .neatbox-list .list-item:last-child {
	border-bottom-width: 0;
}

.settingstuff .neatbox-list .list-item {
	margin: 0;
	padding: 12px 15px;
	border-bottom: 1px solid #eee;
}

/* Reset WordPress default */
.settingstuff .neatbox-list p.description {
	margin: 1em 0;
	font-style: normal;
}

.settingstuff .neatbox-list .description {
	color: #8f8f8f;
}

.settingstuff .neatbox-list .title {
	font-size: 16px;
}

.settingstuff .inline-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.settingstuff .inline-action .list-content {
	width: 70%;
}

.settingstuff .inline-action .list-action {
	width: 30%;
	text-align: right;
}

.settingstuff .has-subboxes .form-table {
	margin-top: 0;
	background-color: #fff;
}

.settingstuff .form-table {
	margin-top: 7px;
}

.settingstuff .neatbox .form-table th:empty {
	padding-right: 0;
	padding-left: 0;
	width: 15px;
}

.settingstuff .neatbox .form-table th:empty ~ td {
	padding-left: 0;
}

.settingstuff .neatbox .form-table th {
	padding-left: 15px;
}

.form-table .is-gapless td {
	padding-top: 11px;
	padding-bottom: 0;
}

.form-table .has-small-text td p {
	font-size: 13px;
}

.settingstuff .fields {
	padding-top: 10px;
	padding-bottom: 10px;
}

.settingstuff .fields-wrapper {
	padding: 15px 12px;
	background-color: #fafafa;
	border: 1px solid #ebebeb;
	border-radius: 3px;
}

.settingstuff .fields-wrapper.has-top-gap {
	margin-top: 13px;
}

.settingstuff .neatbox.has-subboxes p.submit {
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.settingstuff .neatbox p.submit {
	margin-top: 13px;
	margin-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
}

.settingstuff .neatbox ~ p.submit {
	margin-top: 20px;
	padding-top: 0;
}

.settingstuff .buttons {
	margin-top: 13px;
}

.settingstuff .buttons p.submit {
	margin: 0;
	padding: 0;
}

/* This is WordPres's breakpoint */
@media screen and (max-width: 782px) {
	/* Override WordPress style */
	.settingstuff .neatbox .form-table td {
		padding-left: 15px;
	}

	.settingstuff .neatbox .form-table th {
		padding-bottom: 10px;
	}
}

@media (max-width: 575.32px) {
	.settingstuff .nav-tab-wrapper .nav-tab {
		display: block;
		width: 100%;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}












/**
 * ------------------------------
 * General fields
 * ------------------------------
 */
.setting-fields.is-gapless {
	padding: 0;
}

.setting-fields {
	padding: 25px 15px;
}

hr {
	margin: 20px 0;
	border-top: 1px solid #eee;
	border-bottom: 0;
}

.setting-fields .field:last-child,
.setting-fields .fields:last-child {
	margin-bottom: 0;
}

.setting-fields.is-gapless .field {
	margin-bottom: 10px;
}

.setting-fields .field {
	margin-bottom: 20px;
}

.fields {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.fields .field {
	position: relative;
}

.field.is-horizontal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.field.is-horizontal .field-label {
	width: 35%;
}

.field .label {
	font-weight: 600;
}

.form-table .field .label {
	font-weight: 400;
}

.field.is-horizontal .field-body {
	padding-left: 20px;
	width: 65%;
}

/**
 * ------------------------------
 * Copied & modified from https://codepen.io/KenanYusuf/pen/PZKEKd/
 * ------------------------------
 */
.label {
	display: block;
	position: relative;
	line-height: 1.5;
	cursor: pointer;
}

.label input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.label .indicator {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #e6e6e6;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.radio-label .indicator {
	border-radius: 50%;
}

.label:hover input ~ .indicator,
.label input:focus ~ .indicator {
	background-color: #ccc;
}

.label input:checked ~ .indicator {
	background-color: #b524ff;
}

.label:hover input:not([disabled]):checked ~ .indicator,
.label input:checked:focus ~ .indicator {
	background-color: #a320e6;
}

.label input:disabled ~ .indicator {
	background-color: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}

.label .indicator::after {
	display: none;
	position: absolute;
	content: "";
}

.label input:checked ~ .indicator::after {
	display: block;
}

.setting-fields .checkbox-label,
.setting-field .checkbox-label {
	padding-left: 30px;
}

.checkbox-label .indicator::after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.checkbox-label input:disabled ~ .indicator::after {
	border-color: #7b7b7b;
}

.radio-label .indicator::after {
	left: 7px;
	top: 7px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: #fff;
}

.radio-label input:disabled ~ .indicator::after {
	background-color: #7b7b7b;
}

.select-label {
	position: relative;
	display: inline-block;
	width: 100%;
}

.select-label select {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0;
	border-radius: 0;
	background-color: #e6e6e6;
	color: #7b7b7b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select-label select::-ms-expand {
	display: none;
}

.select-label select:hover,
.select-label select:focus {
	color: #000;
	background-color: #ccc;
}

.select-label select:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.select-label .arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #7b7b7b transparent transparent transparent;
}

.select-label select:hover ~ .arrow,
.select-label select:focus ~ .arrow {
	border-top-color: #000;
}

.select-label select:disabled ~ .arrow {
	border-top-color: #ccc;
}














/*! 
 * This file contains the same styling for both PBF & Premium Add-On
 * Please keep in sync!
 */

/**
 * --------------------
 * Admin Page
 * --------------------
 */
.wpbf-admin-page {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
}

.wpbf-admin-page > .left-section {
	width: 65%;
}

.wpbf-admin-page > .right-section {
	padding-left: 40px;
	width: 35%;
}

.wpbf-admin-page .neatbox:last-child,
.wpbf-admin-page > .left-section .neatbox:last-child,
.wpbf-admin-page > .right-section .neatbox:last-child {
	margin-bottom: 0;
}

.wpbf-admin-page .neatbox-content > p,
.wpbf-admin-page .list-item > p,
.wpbf-admin-page .list-content > p {
	font-size: 14px;
}

/**
 * --------------------
 * Customizer Link List
 * --------------------
 */
.wpbf-admin-page .customizer-list {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
}

.wpbf-admin-page .customizer-list .list-item:nth-child(even) {
	padding-left: 15px;
	border-right-width: 0;
}

.wpbf-admin-page .customizer-list .list-item {
	padding-top: 18px;
	padding-bottom: 18px;
	width: 50%;
	border-right: 1px solid #eee;
}

.wpbf-admin-page .customizer-list .list-item:last-child {
	width: 100%;
}

/**
 * --------------------
 * Premium Add-On List
 * --------------------
 */
.wpbf-admin-page .premium-list .list-item:last-child {
	background: #f1f1f1;
}

.wpbf-admin-page .premium-list .list-content {
	width: 60%;
}

.wpbf-admin-page .premium-list .list-action {
	width: 40%;
}

.wpbf-admin-page .premium-list i {
	color: #47d87c;
	text-align: right;
	margin-right: 20px;
}

/**
 * --------------------
 * Setting Fields
 * --------------------
 */
/* Checkbox label */
.wpbf-admin-page .label input:checked ~ .indicator {
	background-color: #007cba;
}

.wpbf-admin-page .label:hover input:not([disabled]):checked ~ .indicator,
.wpbf-admin-page .label input:checked:focus ~ .indicator {
	background-color: #00669b;
}

.wpbf-show-advanced {
	display: inline-block;
	margin-top: 10px;
	box-shadow: none;
}

.wpbf-show-advanced.button {
	display: block;
	margin-top: 15px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

/**
 * --------------------
 * Recommended Plugins
 * --------------------
 */
.wpbf-admin-page .recommended-list .dashicons {
	color: #47d87c;
}

/**
 * --------------------
 * Additional Resources
 * --------------------
 */
.wpbf-admin-page .additional-list .dashicons {
	margin-right: 5px;
}

/**
 * --------------------
 * Responsiveness
 * --------------------
 */
@media screen and (max-width: 991.32px) {
	.wpbf-admin-page > .left-section {
		width: 100%;
	}

	.wpbf-admin-page > .right-section {
		padding-left: 0;
		width: 100%;
	}
}

/*! 
 * This file contains the same styling for both PBF & Premium Add-On
 * Please keep in sync!
 */
