.checkbox-buttonset-control {
	.buttonset {
		display: flex;
		flex-wrap: wrap;
		border-radius: 3px;

		.switch-label {
			flex-grow: 1;
			margin: 0;
			padding: 0.5em 0.9em;
			text-align: center;
			background: rgba(0, 0, 0, 0.1);
			border-top: 1px solid #f7f7f7;
			border-bottom: 1px solid #f7f7f7;
			border-right: 1px solid #f7f7f7;
			cursor: pointer;

			&.first-label {
				border-left: 1px solid #f7f7f7;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			&.last-label {
				border-right: none;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}

		.switch-input {
			position: absolute;

			&:checked {
				+ .switch-label {
					// background-color: #00a0d2;
					background-color: #2271b1;
					color: #fff;
				}
			}

			&:focus {
				+ .switch-label {
					box-shadow: inset 0 0 2px #2271b1;
				}
			}
		}
	}

	.screen-reader-text:focus {
		clip-path: inset(50%);
		-webkit-clip-path: inset(50%);
	}
}
