.color-control {
	.wpbf-control-form {
		position: relative;
	}

	.wpbf-control-cols {
		align-items: flex-start;
	}

	.wpbf-control-left-col {
		padding-right: 30px;
		width: 90%;
		width: calc(100% - 30px);
	}

	.wpbf-control-right-col {
		justify-content: flex-end;
		align-items: center;

		.wpbf-buttons {
			display: flex;
			align-items: center;
			position: relative;
			// Add top: -2px because .customize-control-title has margin bottom 4px.
			top: -2px;
		}
	}

	.use-hue-mode {
		.react-colorful {
			height: auto;
		}

		.react-colorful__saturation {
			display: none;
		}

		.react-colorful__last-control {
			border-radius: 4px;
		}

		input.wpbf-color-input {
			padding-left: 8px;
		}
	}

	.wpbf-trigger-circle-wrapper {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		border-radius: 50%;
	}

	.wpbf-trigger-circle {
		position: relative;
		padding: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-size: 10px;
		border-radius: 50%;
		border: 1px solid #ccc;
		cursor: pointer;

		.wpbf-color-preview {
			top: 0;
			left: 0;
			box-shadow: none;
		}
	}

	.colorPickerContainer {
		position: absolute;
		top: 35px;
		right: 0;
		margin-top: 3px;
		width: 100%;
		padding: 15px;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: rgba(0, 0, 0, 0.09) 0 12px 15px 0;
		z-index: 9999;

		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
		transition-property: opacity, visibility; // Yes, only opacity and visibility please.

		&.is-open {
			opacity: 1;
			visibility: visible;
			transition: all 0.2s ease 10ms; // When we open the picker popup, the top offset is changed, so we need to wait a bit.
			transition-property: opacity, visibility; // Yes, only opacity and visibility please.
		}
	}

	.react-colorful {
		width: 100%;
		border-radius: 4px;
	}

	.react-colorful__saturation {
		border-radius: 4px 4px 0 0;
	}

	.react-colorful__last-control {
		border-radius: 0 0 4px 4px;
	}

	.react-colorful__pointer {
		width: 20px;
		height: 20px;
	}

	.wpbf-color-input-wrapper {
		margin-top: 15px;
	}

	.wpbf-color-input-control {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}

	input.wpbf-color-input {
		display: block;
		position: relative;
		padding-left: 32px;
		padding-right: 8px;
		width: 100%;
		height: 30px;
		line-height: 30px;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 4px;
		z-index: 1;
	}

	.wpbf-color-input:focus,
	.wpbf-color-input:active {
		box-shadow: 0 0 0 1px #2271b1;
		outline: none;
		border-color: #2271b1;
	}

	.wpbf-color-preview-wrapper {
		position: absolute;
		left: 6px;
		width: 18px;
		height: 18px;
		background-repeat: repeat;
		background-size: 8px;
		border-radius: 50%;
		border-width: 0;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
		z-index: 2;
	}

	.wpbf-color-preview,
	.wpbf-control-reset {
		position: absolute;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.wpbf-color-preview {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border-width: 0;
	}

	.wpbf-control-reset {
		display: flex;
		align-items: center;
		justify-content: center;
		right: 38px;
		width: 17px;
		height: 17px;
		color: #50575e;
		border-radius: 50%;
		border-width: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 3;
		transition:
			opacity 0.3s,
			visibility 0.3s;

		&.is-shown {
			opacity: 1;
			visibility: visible;
		}
	}

	&:hover {
		.wpbf-control-reset {
			opacity: 1;
			visibility: visible;
		}
	}

	.wpbf-control-reset:hover i {
		color: #f00;
		transform: rotate(-45deg);
	}

	.wpbf-control-reset i {
		font-size: 12px;
		width: 12px;
		height: 12px;
		transform: rotate(45deg);
		transition: transform 0.2s;
	}

	.wpbf-color-swatches {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 12px;

		&.no-stretch {
			justify-content: flex-start;
			gap: 10px;
		}
	}

	.wpbf-color-swatch {
		position: relative;
		display: block;
		padding: 0;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border-width: 0;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.09);
		cursor: pointer;
		transform: scale(1, 1);
		transition: transform 0.2s;
	}

	.wpbf-color-swatch:active,
	.wpbf-color-swatch:focus {
		outline: none;
	}

	.wpbf-color-swatch:hover,
	.wpbf-color-swatch:focus {
		transform: scale(1.2);
	}

	.wpbf-label-tooltip {
		position: absolute;
		bottom: 40px;
		padding: 6px 8px;
		width: auto; // just for fallback for max-content.
		width: max-content;
		max-width: 100px;
		color: #fff;
		// background-color: rgba(0, 0, 0, 0.7);
		background-color: #484848;
		border-radius: 4px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;

		&::before {
			content: "";
			position: absolute;
			bottom: -6px;
			left: 50%;
			border-width: 7px 6px 0 6px;
			border-style: solid;
			// border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
			border-color: #484848 transparent transparent transparent;
			transform: translateX(-50%);
		}

		.customize-control-title {
			line-height: 1.2;
		}
	}

	.wpbf-trigger-circle-wrapper:hover {
		.wpbf-label-tooltip {
			opacity: 1;
			visibility: visible;
		}
	}

	.wpbf-multicolor {
		.wpbf-control-reset {
			position: relative;
			right: auto;
		}

		.wpbf-trigger-circle-wrapper {
			margin-left: 8px;
		}

		.colorPickerContainer {
			top: 7px;
		}
	}

	&[data-wpbf-parent-control-type="wpbf-typography"] {
		.colorPickerContainer {
			top: 55px;
		}

		.wpbf-control-reset {
			top: 30px;
			right: auto;
			left: 35px;
		}
	}
}
