body {
	direction:rtl;
	unicode-bidi:embed;
}

/* Floats */

.wpbf-float-left {
  float: right;
}

.wpbf-float-right {
  float: left;
}

/* Table */
.wpbf-page table th,
.wpbf-page .wpbf-table th {
  text-align: right;
}

.wpbf-page table caption,
.wpbf-page .wpbf-table caption {
  text-align: right;
}

/* Grid */
.wpbf-grid > * {
  float: right;
}

.wpbf-text-left {
  text-align: right;
}

.wpbf-text-right {
  text-align: left;
}

/* Images */
img.alignright, figure.alignright {
  float: left;
}

img.alignleft, figure.alignleft {
  float: right;
}

/* Gallery */
.gallery .gallery-item {
  float: right;
}

/* Skip Link */
.skip-link {
  position: absolute;
  left: auto;
  right: 0;
}

/* Navigation */

/* Search */
.wpbf-menu-item-search .wpbf-menu-search {
  right: auto;
  left: 0;
}

/* Sub Menu */
.wpbf-sub-menu > .menu-item-has-children > a:after,
.wpbf-sub-menu > .menu-item-has-children:not(.wpbf-mega-menu) > .sub-menu > .menu-item-has-children > a:after {
  display: none;
}

.wpbf-sub-menu > .menu-item-has-children > a:before {
  font-size: 14px;
  margin-right: 5px;
  font-family: "page-builder-framework";
  content: "\f102";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpbf-sub-menu > .menu-item-has-children:not(.wpbf-mega-menu) > .sub-menu > .menu-item-has-children > a:before {
	float: left;
	margin-right: 20px;
	font-size: 14px;
  font-family: "page-builder-framework";
  content: "\f104";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpbf-sub-menu > .menu-item-has-children:not(.wpbf-mega-menu) > .sub-menu > .menu-item-has-children > .sub-menu {
	left: auto;
	right: 100%;
}

/* Menu */
.wpbf-menu-right .wpbf-menu > .menu-item,
.wpbf-menu-left .wpbf-menu > .menu-item,
.wpbf-menu-stacked .wpbf-menu > .menu-item,
.wpbf-menu-stacked-advanced .wpbf-menu > .menu-item,
.wpbf-menu-centered .wpbf-menu > .menu-item,
.wpbf-pre-header .wpbf-menu > .menu-item {
  float: right;
}

.wpbf-menu-right .wpbf-menu {
  float: left;
}

.wpbf-menu-left .wpbf-logo-container {
  text-align: left;
}
.wpbf-menu-left .wpbf-menu {
  float: right;
}

.wpbf-menu-stacked .wpbf-menu {
  text-align: right;
}

.wpbf-menu-toggle-container {
  text-align: left;
}

/* Pre Header */
.wpbf-pre-header .wpbf-menu {
  float: left;
}

.wpbf-pre-header .wpbf-inner-pre-header-right .wpbf-menu {
  float: left;
}
.wpbf-pre-header .wpbf-inner-pre-header-right .wpbf-menu .sub-menu {
  text-align: right;
}

.wpbf-pre-header .wpbf-inner-pre-header-left .wpbf-menu {
  float: right;
}

/* Sidebar */
.wpbf-sidebar-left .wpbf-main {
  float: left;
}

.wpbf-grid-divider > [class*="wpbf-medium-"]:nth-child(n+2):not(.wpbf-medium-1-1) {
	border-left: none;
	border-right: 1px solid #d9d9e0;
}

/* Footer */
.wpbf-footer-two-columns .wpbf-inner-footer-right,
.wpbf-footer-two-columns .wpbf-inner-pre-header-right,
.wpbf-pre-header-two-columns .wpbf-inner-footer-right,
.wpbf-pre-header-two-columns .wpbf-inner-pre-header-right {
  text-align: left;
}

/* Comments */
.comment .avatar {
	margin-right: 0;
	margin-left: 10px;
}

.comment .comment-edit-link {
  right: auto;
  left: 20px;
}

/* Scrolltop */
.scrolltop {
  right: auto;
  left: 20px;
}

/* Contact Form 7 */
span.wpcf7-not-valid-tip {
  left: auto;
  right: 5px;
}
