.wpbf-notice .components-base-control__field {
	margin-bottom: 0 !important;

	.components-text-control__input {
		margin: 0;
		padding: 0;
		border-width: 0;
		background-color: transparent;

		&:focus {
			box-shadow: none;
		}
	}
}