#accordion-section-wpbf_header_builder_toggle_section {
}

#sub-accordion-section-wpbf_header_builder_toggle_section {
	padding-top: 0;
	padding-bottom: 0;
	border-top: none;

	.section-meta {
		display: none;
	}
}
