#sub-accordion-section-wpbf_header_builder_section {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top-width: 0 !important;

	.section-meta {
		display: none;
	}
}

.wpbf-customize-control-header-builder {
	.json-field {
		opacity: 0;
		width: 0;
		height: 0;
		z-index: -1;
		position: absolute;
	}

	.wpbf-control-header {
		padding: 0 5px;
	}

	.wpbf-control-form {
		padding: 0 5px;
	}
}

.header-builder-widgets {
	position: relative;

	.widget-item {
		position: relative;
		display: inline-block;
		padding: 11px 13px;
		margin: 5px 5px;
		text-align: left;
		font-weight: 600;
		font-size: 12px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
		cursor: pointer;
		z-index: 99999;

		&:hover {
			background-color: #f9f9f9;
			border-color: #ccc;
		}

		&.is-dragging,
		&:active {
			opacity: 0.5;
		}
	}
}

.available-widgets-panel {
	position: relative;
	width: 100%;
	z-index: 999;
	overflow: visible;

	.widget-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 12px 0;
		width: 100%;
		cursor: move;

		&::after {
			content: "\f545";
			font-family: "dashicons";
			font-weight: 400;
			font-size: 12px;
			color: #444;
		}

		&.disabled {
			opacity: 0.5;
			cursor: pointer;

			&::after {
				content: "\f345";
			}
		}
	}
}

.header-builder-panel * {
	box-sizing: border-box;
}

.header-builder-panel {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	width: 100%;
	min-height: 100px;
	max-height: 60%;
	background-color: #f0f0f1;
	border-top: 1px solid #ddd;
	// This z-index should be lower than the sidebar panel (10).
	z-index: 9;

	.builder-row {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;
		// padding: 5px;
		// width: 100%;
		min-height: 50px;
		background-color: #f9f9f9;
		border: 1px dotted #ccc;
		border-radius: 5px;
	}

	.builder-widgets {
		width: 100%;
		border-radius: 5px;

		&.dragover {
			background-color: #f0f0f1;
		}
	}

	.widget-item {
		padding: 8px 13px;

		&.empty-widget-item {
			width: 1px;
			opacity: 0;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.widget-drag-helper {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	&.is-shown {
		display: block;
		opacity: 0.9;
		z-index: 0;
	}

	// Since we'll clone the .widget-item element to be child of the .widget-drag-helper,
	// we need to make sure the .widget-item under this element has the same styling.
	.widget-item {
		position: relative;
		display: inline-block;
		padding: 11px 13px;
		margin: 0;
		text-align: left;
		font-weight: 600;
		font-size: 12px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
	}
}
