#customize-preview {
	margin-top: auto;
	margin-bottom: auto;
	max-height: 100%;
	height: auto;
	transition: bottom 0.2s ease-in-out;
}

.customize-pane-child.control-panel-wpbf-builder {
	&.builder-is-shown
		> .control-subsection:not(.builder-control-section)
		> .accordion-section-title {
		display: none;
	}

	&:not(.builder-is-shown) {
		.wpbf-customize-control-builder,
		.wpbf-customize-control-responsive-builder {
			display: none;
		}
	}
}

.wpbf-builder-toggle {
	&.disabled {
		margin-bottom: 0;
		padding-left: 30px;
		padding-right: 26px;
		border-bottom: 1px solid #dcdcde;
	}
}

#customize-theme-controls .customize-pane-child.builder-control-section {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top-width: 0 !important;

	.section-meta {
		display: none;
	}
}

.wpbf-customize-control-builder,
.wpbf-customize-control-responsive-builder {
	.wpbf-control-header {
		padding: 0 5px;
	}

	.wpbf-control-form {
		padding: 0 5px;
	}
}

.builder-widgets {
	position: relative;

	.widget-item {
		position: relative;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		font-weight: 600;
		font-size: 12px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
	}
}

.available-widgets-panel {
	position: relative;
	width: 100%;

	.widget-item {
		display: flex;
		margin: 12px 0;
		padding: 11px 13px;
		width: 100%;
		cursor: move;

		&::after {
			content: "\f545";
			font-family: "dashicons";
			font-weight: 400;
			font-size: 12px;
			color: #444;
		}

		&.is-dragging,
		&:active {
			opacity: 0.5;
		}

		&.disabled {
			opacity: 0.5;
			cursor: pointer;

			&::after {
				content: "\f345";
			}
		}

		&:hover {
			background-color: #f9f9f9;
			border-color: #ccc;
		}
	}
}

.wpbf-builder-panel * {
	box-sizing: border-box;
}

.wpbf-builder-panel {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	width: 100%;
	max-height: 0;
	background-color: #f0f0f1;
	border-top: 1px solid #ddd;
	transition: max-height 0.2s ease-in-out;
	// This z-index should be lower than the offcanvas panel (10).
	z-index: 9;

	&.before-shown {
		opacity: 0;
		z-index: -1;
		max-height: none;
	}

	.sortable-group {
		position: relative;
		transition: box-shadow 100ms;

		&:hover {
			.row-label {
				opacity: 1;
				visibility: 1;
			}
		}

		&.is-active {
			.row-setting-button {
				background-color: #2271b1;
				border-color: #2271b1;
				border-style: solid;
				color: #fff;

				.dashicons {
					color: #fff;
				}
			}
		}

		&:hover,
		&.is-active {
			box-shadow: 0 0 0 2px #2271b1;

			.row-setting-button {
				border-color: transparent;
			}

			.dotted-border {
				border-color: transparent;
			}
		}
	}

	.builder-row {
		margin: 20px 0;
		padding-left: 30px;
		border-radius: 5px;

		.row-setting-button {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:hover,
		&.is-active {
			.row-setting-button {
				border-right-color: #ccc;
			}
		}
	}

	.row-label {
		position: absolute;
		top: -25px;
		left: 30px;
		max-width: max-content;
		padding: 0 10px;
		height: 25px;
		line-height: 25px;
		color: #fff;
		font-size: 12px;
		background-color: #2271b1;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		opacity: 0;
		visibility: 0;
		transition:
			opacity 100ms,
			visibility 100ms;
	}

	.row-setting-button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 30px;
		height: 100%;
		background-color: #f9f9f9;
		border: 1px dashed #ccc;

		transition: all 100ms;
		cursor: pointer;
		z-index: 2;

		.dashicons {
			height: 14px;
			width: 14px;
			font-size: 14px;
			color: #999;
		}

		&:hover,
		&:focus {
			background-color: #2271b1;
			border-color: #2271b1;
			border-style: solid;
			color: #fff;

			.dashicons {
				color: #fff;
			}
		}
	}

	.dotted-border {
		border: 1px dashed #ccc;
	}

	.builder-inner-row {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
		min-height: 52px;
		background-color: #f9f9f9;

		border-left-width: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.builder-column {
		padding: 4px;
		min-width: 136px;
		transition: width 0.2s ease-in-out;

		&.column-middle {
			// background-color: rgba(253, 253, 253, 0.8);
			border-left: 1px dashed #ccc;
			border-right: 1px dashed #ccc;
			min-width: auto;
			transition: max-width 0.2s ease-in-out;

			&.empty-widget-list {
				min-width: 136px;
			}
		}

		&.column-start,
		&.column-end {
			flex: 1;
		}

		&.column-start {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		// This column is a sortable list that contains items.
		&.column-end {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	.active-widgets {
		&.dragover {
			background-color: #f0f0f1;
		}
	}

	.widget-item {
		display: inline-flex;
		margin: 4px 4px;
		padding: 8px 13px;
		cursor: move;

		&:not(.empty-widget-item) {
			min-width: 120px;
		}

		&.empty-widget-item {
			width: 1px;
			opacity: 0;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}

		&.ui-sortable-placeholder {
			color: transparent;
			background-color: #f7f7f7;
			border: 1px dotted #ddd;
			z-index: 0;
		}

		&:hover,
		&.connected-section-expanded {
			border-color: #2271b1;
		}

		&.connected-section-expanded {
			outline: 1px solid #2271b1;
		}
	}

	.widget-button {
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;

		.dashicons {
			width: 14px;
			height: 14px;
			font-size: 14px;
		}
	}

	.delete-widget-button:hover {
		color: tomato;
	}
}

.widget-drag-helper {
	box-sizing: border-box;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	* {
		box-sizing: border-box;
	}

	&.is-shown {
		display: block;
		opacity: 0.9;
		z-index: 0;
	}

	// Since we'll clone the .widget-item element to be child of the .widget-drag-helper,
	// we need to make sure the .widget-item under this element has the same styling.
	.widget-item {
		position: relative;
		display: inline-block;
		padding: 8px 13px;
		margin: 0;
		min-width: 120px;
		text-align: left;
		font-weight: 600;
		font-size: 12px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
	}
}

/// Responsive builder.
.wpbf-builder-slots {
	position: relative;
	width: 100%;
	height: 100%;

	.builder-offcanvas {
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 20%;
	}

	.builder-inner-offcanvas {
		height: 100%;
		background-color: #f9f9f9;
		border-radius: 5px;

		.dotted-border {
			border-top-width: 0;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	.builder-rows {
		position: relative;
		padding-left: 20px;
		width: 80%;
	}
}

.wpbf-builder-panel {
	.builder-inner-offcanvas {
		.row-setting-button {
			justify-content: flex-start;
			position: relative;
			padding: 0 10px;
			width: 100%;
			height: 30px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

			.dashicons {
				width: 12px;
				height: 12px;
				font-size: 12px;
			}

			.button-label {
				display: inline-block;
				margin-left: 3px;
			}
		}

		&:hover,
		&.is-active {
			.row-setting-button {
				border-bottom-color: #ccc;
			}
		}
	}

	.builder-offcanvas {
		.active-widgets {
			padding: 8px;
			height: calc(100% - 30px);

			.widget-item:last-child {
				margin-bottom: 0;
			}
		}

		.widget-item {
			display: flex;
			margin: 0 0 10px;
		}
	}
}

.wpbf-desktop-preview {
	.wpbf-customize-control-responsive-builder {
		[data-device="desktop"] {
			display: block;
		}

		[data-device="mobile"] {
			display: none;
		}
	}

	.wpbf-builder-panel {
		[data-device="desktop"] {
			display: block;

			&.wpbf-flex {
				display: flex;
			}
		}

		[data-device="mobile"] {
			display: none;
		}
	}
}

.wpbf-tablet-preview,
.wpbf-mobile-preview {
	.wpbf-customize-control-responsive-builder {
		[data-device="desktop"] {
			display: none;
		}

		[data-device="mobile"] {
			display: block;
		}
	}

	.wpbf-builder-panel {
		[data-device="desktop"] {
			display: none;
		}

		[data-device="mobile"] {
			display: block;

			&.wpbf-flex {
				display: flex;
			}
		}
	}
}

#customize-control-wpbf_header_builder_desktop_menu_trigger_icon,
#customize-control-wpbf_header_builder_mobile_menu_trigger_icon {
	.buttonset {
		.switch-label {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20%;
		}
	}
}

#customize-control-wpbf_header_builder_desktop_menu_trigger_icon {
	.buttonset {
		[for="wpbf_header_builder_desktop_menu_trigger_icon-none"] svg {
			max-width: 20px;
			height: auto;
		}
	}
}

#customize-control-wpbf_header_builder_mobile_menu_trigger_icon {
	.buttonset {
		[for="wpbf_header_builder_mobile_menu_trigger_icon-none"] svg {
			max-width: 20px;
			height: auto;
		}
	}
}
