.repeater-control {
	position: relative;
}

.repeater-control .repeater-fields .repeater-row {
	border: 1px solid #e5e5e5;
	margin-top: 0.5rem;
	background: #eee;
	position: relative;
}

.repeater-control .repeater-fields .repeater-row.minimized {
	border: 1px solid #dfdfdf;
	padding: 0;
}

.repeater-control .repeater-fields .repeater-row.minimized:hover {
	border: 1px solid #e5e5e5;
}

.repeater-control
	.repeater-fields
	.repeater-row.minimized
	.repeater-row-content {
	display: none;
}

.repeater-control .repeater-fields .repeater-row label {
	margin-bottom: 12px;
	clear: both;
}

.repeater-control
	.repeater-fields
	.repeater-row
	.repeater-field.repeater-field- {
	display: none;
}

.repeater-control
	.repeater-fields
	.repeater-row
	.repeater-field.repeater-field-radio-image
	input {
	display: none;
}

.repeater-control
	.repeater-fields
	.repeater-row
	.repeater-field.repeater-field-radio-image
	input
	img {
	border: 1px solid transparent;
}

.repeater-control
	.repeater-fields
	.repeater-row
	.repeater-field.repeater-field-radio-image
	input:checked
	+ label
	img {
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
	border: 1px solid #3498db;
}

.repeater-control
	.repeater-fields
	.repeater-row
	.repeater-field:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.repeater-control button.repeater-add {
	margin-top: 1rem;
}

.repeater-control .repeater-row-content {
	padding: 10px 15px;
	background: #fff;
}

.repeater-control .repeater-field {
	margin-bottom: 12px;
	width: 100%;
	clear: both;
	padding-bottom: 12px;
	border-bottom: 1px dotted #ccc;
}

.repeater-control .repeater-field .customize-control-title {
	font-size: 13px;
	line-height: initial;
}

.repeater-control .repeater-field .customize-control-description {
	font-size: 13px;
	line-height: initial;
}

.repeater-control .repeater-field.repeater-field-hidden {
	margin: 0;
	padding: 0;
	border: 0;
}

.repeater-control .repeater-field-select select {
	margin-left: 0;
}

.repeater-control .repeater-field-checkbox label {
	line-height: 28px;
}

.repeater-control .repeater-field-checkbox input {
	line-height: 28px;
	margin-right: 5px;
}

.repeater-control .repeater-field-textarea textarea {
	width: 100%;
	resize: vertical;
}

.repeater-control .repeater-row-header {
	background: white;
	border-bottom: 1px solid #dfdfdf;
	position: relative;
	padding: 10px 15px;
	height: auto;
	min-height: 20px;
	line-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
}

.repeater-control .repeater-row-header:hover {
	cursor: move;
}

.repeater-control .repeater-row-header .dashicons {
	font-size: 18px;
	position: absolute;
	right: 12px;
	top: 2px;
	color: #a0a5aa;
}

.repeater-control .repeater-row-label {
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	display: block;
	width: 90%;
	overflow: hidden;
	height: 18px;
}

.repeater-control .repeater-row-remove {
	color: #a00;
}

.repeater-control .repeater-row-remove:hover {
	color: #f00;
}

.repeater-control .repeater-minimize {
	line-height: 36px;
}

.repeater-control .remove-button,
.repeater-control .upload-button {
	width: 48%;
}

.wpbf-image-attachment {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}

.wpbf-image-attachment img {
	display: inline-block;
}

.wpbf-file-attachment {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}

.wpbf-file-attachment .file {
	display: block;
	padding: 10px 5px;
	border: 1px dotted #c3c3c3;
	background: #f9f9f9;
}

.limit {
	padding: 3px;
	border-radius: 3px;
}

.limit.highlight {
	background: #d32f2f;
	color: #fff;
}
